<section>
    <h1>Início</h1>

    <div class="flex flex-wrap gap-3 mb-6 justify-between">
        <app-table
            [dataSource]="schools"
            [displayedColumns]="['id', 'name']"
            [title]="'Escolas'"
            [pagination]="schoolsPagination"
            [metadata]="schoolsMetadata"
            (getAllData)="getSchools()"
            class="flex-1"
        ></app-table>
        <app-table
            [dataSource]="classes"
            [displayedColumns]="['id', 'name', 'schoolId']"
            [title]="'Turmas'"
            [pagination]="classesPagination"
            [metadata]="classesMetadata"
            (getAllData)="getClasses()"
            class="flex-1"
        ></app-table>
    </div>
</section>
